.nut-add a{
    text-decoration: none;
    color: black;
}
.nut-add{
    height: 36px;
    background: aqua;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.hide {
    padding: 5px 13px 5px 14px;
    background-color: rgb(253, 0, 0);
    color: white;
    border: none;
    border-radius: 4px;
}

.hide:hover {
    background-color: rgb(138, 9, 9);

}