* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: roboto;
    src: url(font/Roboto/Roboto-Regular.ttf);
}

body {
    font-family: roboto;
}

.logo {
    display: none;
}

ul {
    display: none;
}

.sign-in__sign-out {
    display: none;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #707573;
    color: white;
}

.tile {
    text-align: center;
}

.tile span {
    color: #B0B0B0;
}

.tile h2 {
    padding: 10px 0;
}

.banner img {
    max-width: 100%;
}

.price h4 {
    margin: 20px 0;
}

.price-item {
    color:
        #1ABC9C;
    font-size: 30px;
}

.room-price {
    text-align: center;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-right: 20px;
    box-shadow: 0px 8px 15px rgba(145, 145, 146, 0.3);
}

.night {
    color: #E5E5E5;
    font-size: 30px;
}

.date-room {
    padding: 20px 0;
}

.buttons_added {
    padding: 20px 0;
}

.minus {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #F54748;
    color: #fff;
    font-size: 25px;
}

.room-desc h3 {
    padding-top: 20px;
}

.room-desc p {
    padding: 20px 0;
    color: #B0B0B0;
    width: 100%;
}

.room-uitil {
    display: flex;
    justify-content: space-between;
}

#add {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #391bc2;
    color: #fff;
    font-size: 25px;
}

#number_room {
    width: 100px;
    height: 25px;
    border: none;
    background: #F5F6F8;
}

.pick-date h4 {
    margin: 20px 0;
}

.calendar {
    width: 100px;
    height: 25px;
    border: none;
    background: #F5F6F8;
    border-radius: 4px;
}

.book {
    padding: 20px 0;
}

.book-room {
    width: 150px;
    height: 30px;
    background: #3252DF;
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
    border-radius: 4px;
    text-align: center;
    border: none;
    color: #FFFFFF;
}

.sub-produc {
    text-align: center;
    padding: 20px 0;
}

.conment {
    width: 200px;
    height: 30px;
    background: #d0d0d3;
    box-shadow: 0px 8px 15px rgba(203, 203, 204, 0.3);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
}
#reduce{
    width: 25px;
    height: 25px;
    border: none;
    background-color: #F54748;
    color: #fff;
    font-size: 25px;
}

#add {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #391bc2;
    color: #fff;
    font-size: 25px;
}

#number_room {
    width: 120px;
    height: 25px;
    border: none;
    background: #F5F6F8;
}

.submit-content {
    width: 80px;
    height: 30px;
    background: #3252DF;
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
    border-radius: 4px;
    text-align: center;
    border: none;
    color: #FFFFFF;
}

h3{
    margin-left: 20px;
    color: #707573;
    font-weight: 700; 
}
   .room-next{
       color: #707573;
       font-weight: 700;
       text-align: center;
       margin-left: 20px;
       margin-right: 20px;
       padding-top: 30px;
       display: grid;
       grid-template-columns: 31.5% ;
       grid-gap: 4%;
       padding-bottom: 80px;
   }
   
   .next img{
    border-radius: 8px;
       max-width: 400px;
   }
footer {
    width: 100%;
    margin: auto;
    padding: 30px;
    padding-top: 25px;
    margin-top: 30px;
    padding-bottom: 12px;
    background-color: rgb(42, 42, 46);
    color: rgb(215, 215, 219);
    text-align: center;
}
@media (min-width:768px) {
    .logo {
        display: none;
    }

    ul {
        display: none;
    }

    .sign-in__sign-out {
        display: none;
    }

    .menu_mobile {
        width: 100%;
        margin: auto;
    }

    header {
        width: 100%;
        margin: auto;
    }

    .tile {
        text-align: center;
    }

    .tile span {
        color: #B0B0B0;
    }

    .tile h2 {
        padding: 10px 0;
    }

    .deitail-room {
        width: 100%;
        margin: auto;
    }

    .banner {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .banner img {
        max-width: 100%;
    }

    .produc {
        margin-left: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
    }

    .room-desc h3 {
        padding-top: 20px;
    }

    .room-desc p {
        padding: 20px 0;
        color: #B0B0B0;
        width: 60%;
    }

    .room-uitil {
        display: flex;
        justify-content: space-between;
    }

    .price h4 {
        margin: 20px 0;
    }

    .price-item {
        color:
            #1ABC9C;
        font-size: 30px;
    }

    .room-price {
        text-align: center;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        margin-right: 20px;
        box-shadow: 0px 8px 15px rgba(145, 145, 146, 0.3);
    }

    .night {
        color: #E5E5E5;
        font-size: 30px;
    }

    .date-room {
        padding: 20px 0;
    }

    .buttons_added {
        padding: 20px 0;
    }

    #reduce{
        width: 45px;
        height: 45px;
        border: none;
        background-color: #F54748;
        color: #fff;
        font-size: 25px;
    }

    #add {
        width: 45px;
        height: 45px;
        border: none;
        background-color: #391bc2;
        color: #fff;
        font-size: 25px;
    }

    #number_room {
        width: 180px;
        height: 45px;
        border: none;
        background: #F5F6F8;
    }

    .pick-date h4 {
        margin: 20px 0;
    }

    .calendar {
        width: 180px;
        height: 45px;
        border: none;
        background: #F5F6F8;
        border-radius: 4px;
    }

    .book {
        padding: 20px 0;
    }

    .book-room {
        width: 250px;
        height: 40px;
        background: #3252DF;
        box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
        border-radius: 4px;
        text-align: center;
        border: none;
        color: #FFFFFF;
    }

    .sub-produc {
        text-align: center;
        padding: 20px 0;
    }

    .conment {
        width: 400px;
        height: 50px;
        background: #d0d0d3;
        box-shadow: 0px 8px 15px rgba(203, 203, 204, 0.3);
        border-radius: 4px;
        border: none;
        color: #FFFFFF;
    }

    .submit-content {
        width: 100px;
        height: 40px;
        background: #3252DF;
        box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
        border-radius: 4px;
        text-align: center;
        border: none;
        color: #FFFFFF;
    }
    h3{
        margin-left: 20px;
        color: #707573;
        font-weight: 700; 
    }
       .room-next{
           color: #707573;
           font-weight: 700;
           text-align: center;
           margin-left: 20px;
           margin-right: 20px;
           padding-top: 30px;
           display: grid;
           grid-template-columns: 31.5% 31.5% 31.5%;
           grid-gap: 4%;
       }
       
       .next img{
        border-radius: 8px;
           max-width: 400px;
       }
       h3{
        margin-left: 20px;
        color: #707573;
        font-weight: 700; 
    }
       .room-next{
           color: #707573;
           font-weight: 700;
           text-align: center;
           margin-left: 20px;
           margin-right: 20px;
           padding-top: 30px;
           display: grid;
           grid-template-columns: 31.5% 31.5% 31.5%;
           grid-gap: 4%;
       }
       
       .next img{
        border-radius: 8px;
           max-width: 400px;
       }
}

@media(min-width:1280px) {
    .logo {
        display: inline-block;
    }

    ul {
        display: inline-block;
    }

    .menu_mobile {
        display: none;
    }

    .sign-in__sign-out {
        display: block;
    }

    .container {
        width: 1440px;
        margin: 0 auto;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        margin-bottom: 69px;
        border-bottom: 1px solid #E5E5E5;
    }

    .logo img {
        width: 148px;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li:not(:first-child) {
        margin-left: 40px;
    }

    nav ul li:hover {
        border-bottom: 2px solid #3252DF;

    }

    nav ul li a {
        text-decoration: 0;
        color: #152C5B;
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;

    }

    nav ul li a:hover {
        color: #3252DF;
        text-shadow: 0 0 2px #002fff;
    }

    .sign-in__sign-out button {
        width: 100px;
        margin-left: 20px;
        height: 40px;
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid #F54748;
        font-size: 15px;
        font-weight: 600;
        color: #F54748;
        text-transform: capitalize;
    }

    .sign-in__sign-out button:hover {
        background-color: #F54748;
        border: 0;
        color: #fff;
    }

    .tile {
        text-align: center;
    }

    .tile span {
        color: #B0B0B0;
    }

    .tile h2 {
        padding: 10px 0;
    }

    .deitail-room {
        width: 100%;
        margin: auto;
    }

    .banner {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .banner-left {
        margin-left: 20px;
    }

    .produc {
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
    }
.room-desc{
    margin-left: 40px;
    width: 800px;
}
    .room-desc h3 {
       
        padding-top: 20px;
    }

    .room-desc p {
        padding: 20px 0;
        color: #B0B0B0;
        width: 60%;
    }

    .room-uitil {
        display: flex;
        justify-content: space-between;
    }

    .price h4 {
        margin: 20px 0;
    }

    .price-item {
        color:
            #1ABC9C;
        font-size: 30px;
    }

    .room-price {
        width: 300px;
        text-align: center;
        border: 1px solid #E5E5E5;
        border-radius: 15px;
        margin-right: 50px;
        box-shadow: 0px 8px 15px rgba(145, 145, 146, 0.3);
    }

    .night {
        color: #E5E5E5;
        font-size: 30px;
    }

    .date-room {
        padding: 20px 0;
    }

    .buttons_added {
        padding: 20px 0;
    }

    .minus {
        width: 45px;
        height: 45px;
        border: none;
        background-color: #F54748;
        color: #fff;
        font-size: 25px;
    }

    .plus {
        width: 45px;
        height: 45px;
        border: none;
        background-color: #391bc2;
        color: #fff;
        font-size: 25px;
    }

    .input-qty {
        width: 180px;
        height: 45px;
        border: none;
        background: #F5F6F8;
    }

    .pick-date h4 {
        margin: 20px 0;
    }

    .calendar {
        width: 180px;
        height: 45px;
        border: none;
        background: #F5F6F8;
        border-radius: 4px;
    }

    .book {
        padding: 20px 0;
    }

    .book-room {
        width: 250px;
        height: 40px;
        background: #3252DF;
        box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
        border-radius: 4px;
        text-align: center;
        border: none;
        color: #FFFFFF;
    }

    .sub-produc {
        text-align: center;
        padding: 20px 0;
    }

    .conment {
        width: 400px;
        height: 50px;
        background: #d0d0d3;
        box-shadow: 0px 8px 15px rgba(203, 203, 204, 0.3);
        border-radius: 4px;
        border: none;
        color: #FFFFFF;
    }

    .submit-content {
        width: 100px;
        height: 40px;
        background: #3252DF;
        box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
        border-radius: 4px;
        text-align: center;
        border: none;
        color: #FFFFFF;
    }
h3{
    margin-left: 20px;
    color: #707573;
    font-weight: 700; 
}
   .room-next{
       color: #707573;
       font-weight: 700;
       text-align: center;
       margin-left: 20px;
       margin-right: 20px;
       padding-top: 30px;
       display: grid;
       grid-template-columns: 31.5% 31.5% 31.5%;
       grid-gap: 4%;
   }
   
   .next img{
    border-radius: 8px;
       max-width: 400px;
   }

   html, body{
    background: #fff;
    transition: var(--transition-effect);
}
body.dark {
    width: 100%;
    background: rgb(10, 10, 10);
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.switch-toggle{
    width: 90px;
    height: 50px;
    appearance: none;
    background: #83d8ff;
    border-radius: 26px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, .3);
    transition: var(--transition-effect);
}
.switch-toggle::before{
    content: "";
    width: 44px;
    height: 44px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #efe2bf;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);
    transition: var(--transition-effect);

}
.switch-toggle:checked{
    background: #749dd6;
}
.switch-toggle:checked:before{
    left: 40px;
}
    footer {
        width: 100%;
        margin: auto;
        padding: 30px;
        padding-top: 25px;
        margin-top: 30px;
        padding-bottom: 12px;
        background-color: rgb(42, 42, 46);
        color: rgb(215, 215, 219);
        text-align: center;
    }

    footer img {
        max-width: 100%;
    }
}