

@font-face {
    font-family: roboto;
    src: url(font/Roboto/Roboto-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
    font-family: roboto;
    
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    width: 100%;
    border: 1px solid gray;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 80px;
    margin-bottom: 69px;
    border-bottom: 1px solid #E5E5E5;
    /* padding: 1em; */
    color: black;
    background-color: white;
    /* clear: left;
     */
}
.logo img {
    width: 148px;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:first-child) {
    margin-left: 40px;
}

nav ul li:hover {
    border-bottom: 2px solid #3252DF;

}

nav ul li a {
    text-decoration: 0;
    color: #152C5B;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;

}

nav ul li a:hover {
    color: #3252DF;
    text-shadow: 0 0 2px #002fff;
}

.sign-in__sign-out button {
    width: 100px;
    margin-left: 20px;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #F54748;
    font-size: 15px;
    font-weight: 600;
    color: #F54748;
    text-transform: capitalize;
}

.sign-in__sign-out button:hover {
    background-color: #F54748;
    border: 0;
    color: #fff;
}
H1{
    text-align: center;
}
.body{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    margin-top: 100px;
}
.thongtinnguoidat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
table,th,td{
border: 1px solid;

} 

table.time{
    width: 60px;
}
table tr:nth-child(odd){
    background-color:#eee;
}
table tr:nth-child(even){
    background-color:white;
}
table tr:nth-child(1){
    background-color:skyblue;
}
table.infor_phong{
    table-layout:fixed;
	width:100%;
    border-collapse:collapse;
    
}

th, td {
    padding: 15px;
    text-align: center;
    /* border: 1px solid #dee2e6; */
    white-space: nowrap; /* Ngăn chặn văn bản xuống dòng */
}
.responsive-table {
    overflow-x: auto;
    
}
/* 
table.infor_phong.loaiphong{width: 15%;}
table.infor_phong.image{width: 35%;}
table.infor_phong.songuoi{width: 20%; text-align: center;}
table.infor_phong.gia{width: 10%; text-align: center;}
table.infor_phong.diachi{width: 20%; text-align: right;} */
table.time{
    width: 100%;
}
table.total{
    float: right;
}

/* ------------------------ */

footer>ul {
    margin: 0px;
    padding: 0px;
}
