.invoice{
    margin-top:50px;
    background:#eee;
    max-width: 1440px;
    margin: 0 auto;
}

.invoice {
    background: #fff;
}

.invoice-company {
    font-size: 20px
}

.invoice-header {
    margin: 0 -20px;
    background: #f0f3f4;
    padding: 20px
}

.invoice-date,
.invoice-from,
.invoice-to {
    display: table-cell;
    width: 1%
}
table.table table-invoice{
    text-align: center;
}
.invoice-from,
.invoice-to {
    padding-right: 20px
}

.invoice-date .date,
.invoice-from strong,
.invoice-to strong {
    font-size: 16px;
    font-weight: 600
}
img.cangiua {display: block; margin-left: auto; margin-right: auto;}

th,td{
    text-align: center;
}

.text-center{
    width: 20%;
}
.invoice-date {
    text-align: right;
    padding-left: 20px
}

.invoice-price {
    background: #f0f3f4;
    display: table;
    width: 1440px;
    margin: 0 auto;
}

.invoice-price .invoice-price-left,
.invoice-price .invoice-price-right {
    display: table-cell;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    width: 76.4%;
}

.invoice-price .invoice-price-left .sub-price {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px
}

.invoice-price small {
    font-size: 12px;
    font-weight: 400;
    display: block
}

.invoice-price .invoice-price-row {
    display: table;
    float: left
}

.invoice-price-right {
    background: #2d353c;
    color: #fff;
    text-align: right;
    vertical-align: bottom;
}

.invoice-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    font-size: 10px;
    max-width: 1440px;
    margin: 0 auto;
}

.invoice>div:not(.invoice-footer) {
    margin-bottom: 20px
}

.btn.btn-white, .btn.btn-white.disabled, .btn.btn-white.disabled:focus, .btn.btn-white.disabled:hover, .btn.btn-white[disabled], .btn.btn-white[disabled]:focus, .btn.btn-white[disabled]:hover {
    color: #2d353c;
    background: #fff;
    border-color: #d9dfe3;
}
.table {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
}
table th{
    border-bottom: 1px solid #ffff;
    height: 50px;
    border: 1px solid rgb(121, 117, 117);
}
table tr td{
    border-bottom: 1px solid #ffff;
    border: 1px solid rgb(138, 132, 132);
}

table.table.table-invoice {
    max-width: 1440px;
    margin: 0 auto;
}