/* .container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.tt{
    text-align: center;
    margin-bottom: 20px;
}
.tt label{
   padding-bottom: 20px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}
main .container {
    width: 500px;
    margin: 0 auto;
}
main .container label {
    width: 300px;
    margin: 0 auto;
    padding: 10px 0 5px 5px;
}

main .container .ht{
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: #dedede;
    border-radius: 10px;
}

