input {
    width: 95%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 17px;
    padding-left: 10px;
    margin: 15px 0px;
    margin-left: 15px;
}

.form-submit {
    width: 80px;
    height: 30px;
    background-color: aqua;
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    border: 1px solid black;
}

label {
    margin-left: 15px;
    font-size: 20px;
}

.page {
    text-align: center;
    margin-top: 25px;
}

.page ul{
    display: inline-block;
    text-decoration: none;
}

.page ul a {
    padding: 10px;
    font-size: 20px;
    color: black;
}