.content h1 {
    box-sizing: border-box;
    padding: 0px;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.content h1:hover{
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

.add {
    padding: 8px;
    border: solid 1px gray;
    border-radius: 4px;
}

.add:hover {
    background-color: aquamarine;
}

table {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid gray;
}

table th {
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid #ffff;
    color: aliceblue;
    height: 50px;
    border: 1px solid gray;
}

table tbody tr td {
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}