table{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
table th{
    background-color: brown;
    border-bottom: 2px solid #ffff;
    color: aliceblue;
    height: 50px;
    border: 2px solid black;
}
td a{
    text-decoration: none;
    color: aliceblue;

}
tr {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
tr td{
    background-color: sienna;
    border-bottom: 2px solid #ffff;
    color: aliceblue;
    height: 50px;
    border: 2px solid black;
}

.page {
    text-align: center;
    margin-top: 25px;
}

.page ul{
    display: inline-block;
    text-decoration: none;
}

.page ul a {
    padding: 10px;
    font-size: 20px;
    color: black;
}