.admin {
    display: grid;
    grid-template-columns: 200px 1fr;
    /* grid-gap: 20px; */
}

.category {
    background-color: rgb(214, 210, 205);
    padding-top: 50px;
    padding-left: 20px;
}

.category-1 h2{
    height: 100px;
    color: rgb(13, 23, 117);
}
.category-1 a h2{
    display: inline-block;
}

.category-1 h2:hover{
    color: rgb(243, 22, 22);
}

.kind {
    padding-top: 20px;
}

.logout h2{
    color: rgb(121, 15, 15);
}

.logout h2:hover{
    color: rgb(11, 242, 250);
}

.content {
    padding-top: 20px;
    padding-left: 20px;
}
.content h1{
    text-align: center;
}

.categoryh{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
.tillerh{
    padding: 30px 30px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ba69bc;
    
}
.tillerh a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 20px;
}