.nut-add a {
    text-decoration: none;
    color: black;
}

.nut-add {
    width: 80px;
    height: 30px;
    background-color: aqua;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

button {
    background-color: blue;
    padding: 4px 10px 4px 10px;
    border: solid 1px gray;
    border-radius: 9px;
    color: white;
}

button:hover{
    background-color: rgb(11, 46, 85);
}

input[type="button"] {
    background-color: rgb(255, 0, 0);
    padding: 4px 10px 4px 10px;
    border: solid 1px gray;
    border-radius: 9px;
    color: white;
}

input[type="button"]:hover {
    background-color: rgb(95, 11, 11);
}

select {
    padding: 4px;
    border-radius: 10px;
    background-color: white;
}

.hangHoa .search input:nth-child(1){
    width: 250px;
    height: 40px;
    margin: 20px 0;
    padding-left: 20px;
    border: 0;
    background-color: #d3d3d3;
}

.hangHoa .search input:nth-child(2){
    width: 90px;
    height: 42px;
    font-weight: bold;
    border: 0;
    background-color: #d3d3d3;
    cursor: pointer;
}
